.btn {
	padding: calc-rem(15px, $font-size-base);
	margin-top: calc-em(35px, $font-size-base);
	font-family: $font-secondary;
	border: 2px solid $color-white;
	border-radius: 0;
	background: none;
	letter-spacing: calc-em(2px, $font-size-base);
	text-transform: uppercase;
	cursor: pointer;
	// position: relative;
	overflow: hidden;
	text-align: center;
	-webkit-transition: background 0.2s, padding 0.2s, width 0.2s;
	-moz-transition: background 0.2s, padding 0.2s, width 0.2s;
	transition: background 0.2s, padding 0.2s, width 0.2s;

	&:hover {
		color: $color-dark;
		background: $color-white;
	}
}
.page-landing {
	.btn {
		position: relative;
	}
}
.btn-animated {
	&:hover {
		padding-right: calc-em(36px, $font-size-base);
		padding-left: calc-em(20px, $font-size-base);
	}
	&:after {
		position: absolute;
		content: '\f138'; // f0e7 (lighting bolt)
		font-family: FontAwesome;
		right: -40%;
		transition: .2s;
		color: $color-dark;
		top: calc-rem(17px, $font-size-base);
		font-size: calc-em(16px, $font-size-base);
	}
	&:hover:after {
		right: calc-em(20px, $font-size-base);
	}
}

.btn-wide {
	width: calc-em(300px, $font-size-base);
}

.btn-l {
	font-size: calc-em(16px, $font-size-base);
}
.btn-s {
	font-size: calc-em(13px, $font-size-base);
}