@media screen and (min-width: 1800px) {
	body {
		font-size: 1.3em;
	}
	.page-landing {
		h1 {
			letter-spacing: calc-em(0.7px, $font-size-base);
			font-size: calc-em(114px, $font-size-base);
		}
		h2 {
			letter-spacing: calc-em(1px, $font-size-base);
			font-size: calc-em(45px, $font-size-base);
		}
		.page-services {
			.content {
				max-width: 1480px;
			}
		}
		.page-work {
			.content {
				max-width: 1480px;
			}
		}
	}
}
@media screen and (min-width: 1600px) {
	.page-landing {
		h1 {
			letter-spacing: calc-em(0.7px, $font-size-base);
			font-size: calc-em(92px, $font-size-base);
		}
		h2 {
			letter-spacing: calc-em(1px, $font-size-base);
			font-size: calc-em(38px, $font-size-base);
		}
	}
}
@media screen and (max-width: 600px) {
	.page {
		.content {
			padding: calc-em($gutter*2, $font-size-base) calc-em($gutter, $font-size-base) calc-em($gutter, $font-size-base) calc-em($gutter, $font-size-base);
		}
	}
	.page-about {
		.two, .one {
			align-self: center;
			width: 85%;
		}
		.content {
			flex-direction: column;
			padding-bottom: calc-em($gutter*2, $font-size-base);
		}
	}
	.page-landing {
		h1 {
			font-size: calc-em($font-size-68, $font-size-base);
			margin-bottom: 0;
		}
		h2 {
			line-height: 1;
			font-size: calc-em($font-size-32, $font-size-base);
		}
	}
	.page-work {
		h2 {
			padding-top: calc-em($gutter/3, $font-size-base);
			padding-bottom: calc-em($gutter/3, $font-size-base);
			font-size: calc-em($font-size-s + 10, $font-size-base);
			i {
				font-size: calc-em($font-size-s, $font-size-s + 10);
			}
		}
		aside div {
			nav {
				order: 1;
				justify-content: center;
				margin-top: calc-em($gutter*2, $font-size-base);

				img {
					display: none;
				}
			}
			p {
				margin-top: 0;
			}
			.rn-carousel-control {
				font-size: calc-em($font-size-m, $font-size-base);
			}
		}
	}
	.page-contact {
		h1 {
			font-size: calc-em($font-size-m, $font-size-base);
		}
		p {
			width: 100%;
		}
	}
	.page-services {
		.content {
			padding-bottom: 2em;
		}
		dl {

			width: 100%;
			align-self: center;
			&:first-child {
				margin-right: 0;
			}
		}
		section div {
			flex-direction: column;
		}
	}
	.nav {
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
	}
	.nav-item {
		font-size: $font-size-base;
		padding: 0;
	}
	.logo {
		display: none;
	}
	.nav-list {
		justify-content: space-around;
	}
	h1 {
		line-height: 1;
		text-align: center;
		font-size: calc-em($font-size-40, $font-size-base);
	}
	p {
		font-size: calc-em($font-size-base, $font-size-base);
	}
}
@media screen and (max-width: 1024px) {
	.page-landing {
		background-image: url('../images/bg_opt.jpg');
	}
	.page-about {
		.content {
			flex-direction: column;
		}
		.one, .two {
			width: 89%;
			flex: 0 auto;
			align-self: center;
		}
		p {
			margin-bottom: calc-em($gutter * 1.4, $font-size-base);
			max-width: 100%;
		}
	}
	.page-services {
		.content {
			flex-direction: column;
		}
		section {
			align-self: center;
			order: 2;
			img {
				order: 2;
			}
			div {
				margin: 0 0 calc-em($gutter, $font-size-base) 0;
			}
		}
		aside {
			order: 1;
		}
	}
	.page-work {
		section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			nav {
				margin-top: 2em;
				align-self: center;
			}
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	.page-services {
		p {
			width: 86%;
		}
	}
}
@media screen and (max-width: 768px) {
	.page-about p {
		font-size: 0.9em;
		max-width: 100%;
	}
	.page-services {
		section {
			margin: 0;
		}
		h1 {
			font-size: calc-em($font-size-40, $font-size-base);
		}
	}
	.page-work {
		.content {
			padding-left: calc-em($font-size-base, $font-size-base);
			padding-right: calc-em($font-size-base, $font-size-base);
		}
	}
}
@media screen and (max-width: 480px) {
	.page p {
		font-size: .8em;
	}
	.btn-l {
		font-size: calc-em(13px, $font-size-base);
	}
	.logo {
		display: flex;
		justify-content: center;
	}
	.nav-list {
		display: none;
	}
	.btn {
		width: 100%;
	}
}
@media screen and (max-width: 320px) {
	.page-landing {
		h1 {
			font-size: calc-em($font-size-xl, $font-size-base);
			margin-bottom: calc-em($font-size-base - 13, $font-size-base);
		}
		h2 {
			font-size: calc-em($font-size-s + 5, $font-size-base);
		}
	}
}

