@media screen and (min-width: 1800px) {
	body {
		font-size: 1.4em;
	}
	.page-landing {
		h1 {
			letter-spacing: calc-em(0.7px, $font-size-base);
			font-size: calc-em(114px, $font-size-base);
		}
		h2 {
			letter-spacing: calc-em(1px, $font-size-base);
			font-size: calc-em(45px, $font-size-base);
		}
		.page-services {
			.content {
				max-width: 1480px;
			}
		}
		.page-work {
			.content {
				max-width: 1480px;
			}
		}
	}
	.nav .logo .type .mark-white {
		height: 55px;
	}
}
@media screen and (min-width: 1600px) {
	.page-landing {
		h1 {
			letter-spacing: calc-em(0.7px, $font-size-base);
			font-size: calc-em(92px, $font-size-base);
		}
		h2 {
			letter-spacing: calc-em(1px, $font-size-base);
			font-size: calc-em(38px, $font-size-base);
		}
	}
}

// @media screen and (max-width: 892px) {
// 	.page-landing h1 {
// 		padding-top: 1.7em;
// 	}
// }


@media screen and (max-width: 640px) {

	.page {
		.content {
			padding: calc-em($gutter*2, $font-size-base) calc-em($gutter, $font-size-base);
		}
	}
	.page-about {
		h1 {
			font-size: calc-em($font-size-m, $font-size-base);
		}
		.two, .one {
			align-self: center;
			width: 85%;
		}
		.content {
			flex-direction: column;
			padding-bottom: calc-em($gutter*2, $font-size-base);
		}
	}
	.page-landing {
		background-image: url('../images/bg_opt_phone.jpg');

		.content {
			padding: 9.7em 0;
		}

		h1, h2, .btn {
			display: none;
		}
	}
	.page-work {
		h2 {
			padding-top: calc-em($gutter/3, $font-size-base);
			padding-bottom: calc-em($gutter/3, $font-size-base);
			font-size: calc-em($font-size-s + 5, $font-size-base);
			i {
				font-size: calc-em($font-size-s, $font-size-s + 10);
			}
		}
		aside div {
			nav {
				order: 1;
				justify-content: center;
				margin-top: calc-em($gutter*2, $font-size-base);

				img {
					display: none;
				}
			}
			p {
				margin-top: 0;
			}
			.rn-carousel-control {
				font-size: calc-em($font-size-m, $font-size-base);
			}
		}
	}
	.page-contact {
		.content {
			// padding-top: 5em;
		}
		h1 {
			font-size: calc-em($font-size-m, $font-size-base);
		}
		p {
			width: 100%;
		}
	}
	.page-services {
		h1 {
			font-size: calc-em($font-size-m - 5, $font-size-base);
			text-align: left;
		}
		.content {
			padding-bottom: 2em;
		}
		dl {
			width: 100%;
			align-self: center;

			&:first-child {
				margin-right: 0;
				margin-top: 0;
			}
			&:last-child {
				margin-top: 0;
			}
		}
		section div {
			flex-direction: column;
		}
	}
	.nav-item {
		font-size: $font-size-base;
		padding: 0;
	}
	.logo {
		// display: none;
	}
	.nav-list {
		justify-content: space-around;
	}
	h1 {
		line-height: 1;
		text-align: center;
		font-size: calc-em($font-size-40, $font-size-base);
	}
	p {
		font-size: calc-em($font-size-base, $font-size-base);
	}
	.logo {
		.type {
			display: none;
		}
	}
	.nav {
		flex-direction: column;
		padding: calc-em(10px, $font-size-base) 0;
		.mark-black {
			display: none;
		}
		&.ui-scrollfix {
			.mark-black {
				display: flex;
				justify-content: center;

				img {
					height: 35px;
					align-self: center;
				}
			}
		}
		&.ui-scrollfix + .page-landing{
			.mark-white {
				display: none;
			}
		}
		&.panel-close.ui-scrollfix {
			.mark-black {
				display: none;
			}
		}
	}
	.nav-list,
	.type {
		display: none;
	}
	.scrollDown,
	.mark-white {
		display: block;
		text-align: center;
		align-self: center;
	}
	.mark-white {
		img {
			width: 260px;
			position: relative;
			top: -2em;
		}
	}
	.panel-close {
		padding: 0;
	}
}
@media screen and (max-width: 1024px) {
	.page-landing {
		background-image: url('../images/bg_opt.jpg');
	}
	.page-about {
		.content {
			flex-direction: column;
		}
		.one, .two {
			width: 100%;
			flex: 0 auto;
			align-self: center;
		}
		p {
			margin-bottom: calc-em($gutter * 1.4, $font-size-base);
			max-width: 100%;
		}
	}
	.page-services {
		.content {
			flex-direction: column;
		}
		section {
			align-self: center;
			order: 2;
			img {
				order: 2;
				margin-top: 1em;
			}
			div {
				margin-top: 0;
			}
		}
		aside {
			order: 1;
		}
	}
	.page-work {
		section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			nav {
				margin-top: 2em;
				align-self: center;
			}
		}
		aside > div p {
			align-self: center;
		}
	}
}

@media screen and (max-width: 900px) {
	.page-landing {
		h1 {
			font-size: calc-em($font-size-68, $font-size-base);
		}
		h2 {
			font-size: calc-em($font-size-32, $font-size-base);
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
	.page-services {
		p {
			width: 86%;
		}
	}
}
@media screen and (max-width: 768px) {
	.page p {
		font-size: 0.9em;
	}
	.page-about p {
		max-width: 100%;
	}
	.page-work {
		.content {
			padding-left: calc-em($font-size-base, $font-size-base);
			padding-right: calc-em($font-size-base, $font-size-base);
		}
	}
}
@media screen and (max-width: 568px) {
	.page p {
		font-size: .8em;
	}
	.page-about {
		.one {
			width: 100%;
		}
		.two {
			width: 80%;
		}
	}
	.btn-l {
		font-size: calc-em(13px, $font-size-base);
	}

	.btn {
		// width: 100%;
	}
	.page-services dt, .page-services dd {
		font-size: calc-em($font-size-16, $font-size-base);
	}

	.page-services .content section {
		margin-top: 0;
	}

	.panel-close {
		&:hover {
			padding: 0;
			.type, ul {
				display: none;
			}
		}
	}

}
@media screen and (max-width: 320px) {
	.page .content {
		padding-top: 2em;
	}
	.page-services {
		.content {
			section {
				margin-right: 0;
				margin-top: 0;

				div {
					margin-top: 0;
				}
			}
		}
	}
	.page-landing {
		h1 {
			font-size: calc-em($font-size-xl, $font-size-base);
			margin-bottom: calc-em($font-size-base - 13, $font-size-base);
		}
		h2 {
			font-size: calc-em($font-size-s + 5, $font-size-base);
		}
	}
}

@media screen and (max-width: 568px) and (orientation:landscape) {
	.page-landing {
		background-image: url('../images/bg_opt_phone_landscape.jpg');
	}
	.mark-white {
		top: 18%;
	}
	.thumb {
		max-width: 60%;
	}
	.slideable_content {
		padding: 0 0 1em 0;
	}
	.rn-carousel-container {
		width: 100%;
		margin-top: 1em;
	}
}
@media screen and (max-width: 320px) and (orientation:portrait) {
	.page-landing {
		background-image: url('../images/bg_opt_phone_portrait.jpg');
	}
	.mark-white {
		top: 31%;

		img {
			width: 210px;
		}
	}
	.slideable_content {
		padding: 0 0 1em 0;
	}
	.rn-carousel-container {
		width: 100%;
		margin-top: 1em;
	}
}
