// ui-scrollfix (http://angular-ui.github.io/ui-utils)
.ui-scrollfix {
	box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
	background-color: $color-white;

	a {
		color: $color-dark;
	}

	ul {
		margin: 0;
	}
}

.nav.ui-scrollfix ul a:hover{
	color: $color-dark;
}

.rn-carousel-container {
	// width: auto !important; // Need important to remove inline styles
}