h1, h2, h3 {
	letter-spacing: calc-em(0.5px, $font-size-base);
	margin-bottom: calc-em(10px, $font-size-base);
	font-family: $font-primary;
	font-weight: 100;
}
h1 {
	font-size: calc-em($font-size-l, $font-size-base);
	margin: 0 0 calc-em($font-size-base/2.5, $font-size-base) 0;
	line-height: 0.9;
}
h2 {
	font-size: calc-em($font-size-m, $font-size-base);
	margin: 0 0 ($font-size-m / 4) 0;
}
h3 {
	font-size: calc-em($font-size-s, $font-size-base);
	margin: 0 0 ($font-size-s / 4) 0;
}
p, a, li, em, strong, b, i, span {
	letter-spacing: calc-em(0.5px, $font-size-base);
	line-height: 1.6;
	font-family: $font-secondary;
}
p {
	font-size: calc-em($font-size-base, $font-size-base);
	margin: $font-size-base 0;
}
a {
	color: $color-white;
}
small {
	font-size: 0.6em;
}
.highlight {
	font-style: normal;
	background-color: darken($color-white, 86);
	color: white;
	border-radius: 5px;
	padding: 3px 8px;
}
a:hover {
	color: $color-white;
}
.logo {
	font-size: calc-em($font-size-base, $font-size-base);
}
.page-landing,
.page-contact,
.page-services,
.page-work {
	color: $color-white;
}
.page-landing {
	h1 {
		letter-spacing: calc-em(0.2px, $font-size-base);
		font-size: calc-em(96px, $font-size-base);
		text-shadow: 4px 3px 0px $color-footer, 7px 6px 0px rgba(0, 0, 0, 0.15);
		margin: 0;
		font-weight: bold;
		line-height: 1;
	}
	h2 {
		letter-spacing: calc-em(1px, $font-size-base);
		font-size: calc-em(36px, $font-size-base);
		margin: calc-em(4px, $font-size-base) 0 0 0;
		font-weight: 100;
	}
}
.page-work {
	h2 {
		padding: calc-em($gutter - 10, $font-size-m) calc-em($gutter, $font-size-m);
		margin: 0;
	}
	.link {
		text-align: right;
	}
}
.page-services {
	dl {
		background-color: rgba(0,0,0,0.2);
		border-radius: 0.5em;
		padding: 0 0 0.7em 0;
	}
	dt {
		list-style: none;
		background-color: rgba(0,0,0,0.3);
		padding: 0.5em 0.9em;
		margin: 0 0 0.7em 0;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		text-indent: 0;
		font-size: 1.1em;
	}
	dd {
		font-size: 1.1em;
		margin-bottom: 0.4em;
		margin-left: 1em;

		&:before {
    		content: "\f111  ";
    		font-family: FontAwesome;
    		vertical-align: middle;
    		font-size: 0.3em;
			padding-right: 2em;
  		}
	}
}
.page-about {
	h1 {
		color: $color-dark;
	}
	a:last-child {
		color: black;
	}
}