.btn {
	margin-top: 2rem;
	font-family: $font-secondary;
	border: 2px solid $color-light;
	border-radius: 0;
	background: none;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

	i {
		display: none;
	}

	&:hover {
		color: $color-dark;
		background-color: $color-light;
		i {
			display: inline-block;
		}
	}

	&:after {
		// content: '';
		// position: absolute;
		// z-index: -1;
		// -webkit-transition: all 0.3s;
		// -moz-transition: all 0.3s;
		// transition: all 0.3s;
	}
}
.btn-l {
	padding: 1.1rem 2.9rem;
	font-size: 1.5rem;
}
.btn-s {
	padding: 0.9rem 2.7rem;
	font-size: 1.2rem;
}