.btn {
	padding: 0.92em 2em;
	margin-top: 2rem;
	font-family: $font-secondary;
	border: 2px solid $color-light;
	border-radius: 0;
	background: none;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;

	&:hover {
		color: $color-dark;
		background: $color-light;
		padding-right: 3.6em;
		padding-left: 2em;
	}

	&:after {
		position: absolute;
		content: '\f138'; // f0e7 (lighting bolt)
		font-family: FontAwesome;
		right: -40%;
		transition: .2s;
		color: #323232;
		top: 0.91em;
		font-size: 1em;
	}

}

.btn:hover:after {
  right: 1.9em;
}

.btn-l {
	font-size: 1.6rem;
}
.btn-s {
	font-size: 1.3rem;
}