// Utilities
.center {
	display: block;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
.drop-shadow {
	text-shadow: 3px 2px 0px #323232, 7px 6px 0px rgba(0, 0, 0, 0.15);
}
.thumb {
	border-radius: 50%;
	display: block;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;

	&:hover {
		// opacity: 0.8;
	}
}

.fade.ng-hide-add, .fade.ng-hide-remove {
	height: 500px !important;
	// overflow-y: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.fade.ng-hide-add.ng-hide-add-active,
.fade.ng-hide-remove {
	// height: 500px !important;
}
.fade.ng-hide-add,
.fade.ng-hide-remove.ng-hide-remove-active {
	// height: 500px !important;
}