// Utilities
.center {
	display: block;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
.drop-shadow {
	text-shadow: 3px 2px 0px #323232, 7px 6px 0px rgba(0, 0, 0, 0.15);
}
.thumb {
	border-radius: 50%;
	display: block;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;

	&:hover {
		// opacity: 0.8;
	}
}