// ui-scrollfix (http://angular-ui.github.io/ui-utils)
.ui-scrollfix {
	box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
	background-color: $color-white;
	// opacity: 0.95;

	// -webkit-transition: all 0.3s ease-out;
	// -moz-transition: all 0.3s ease-out;
	// -ms-transition: all 0.3s ease-out;
	// -o-transition: all 0.3s ease-out;
	// transition: all 0.3s ease-out;

	a {
		color: $color-dark;
	}

	ul {
		margin: 0;
		// -webkit-transition: all 0.3s ease-out;
		// -moz-transition: all 0.3s ease-out;
		// -ms-transition: all 0.3s ease-out;
		// -o-transition: all 0.3s ease-out;
		// transition: all 0.3s ease-out;

	}
}

.nav.ui-scrollfix ul a:hover{
	color: $color-dark;
}