// ui-scrollfix (http://angular-ui.github.io/ui-utils)
.ui-scrollfix {
	box-shadow: 0px -2px 10px #888;
	background-color: $color-light;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;

	a {
		color: $color-dark;
	}

	ul {
		margin: 0;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out; /* IE10 is actually unprefixed */
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
}