// Navigation
.nav {
	// padding: calc-em(25px, $font-size-base) calc-em(40px, $font-size-base);
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	background-color: transparent;
	position: fixed;
	width: 100%;
	padding: calc-em($gutter, $font-size-base) calc-em(30px, $font-size-base);

	.logo {
		flex: 2 auto;
		// background-image: url('../images/logo.svg');
	}
	ul {
		// flex: 1;
		// justify-content: flex-end;

	}
}
.nav-list {
	// flex: 2;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-item {
	// flex: 1;
	// float: left;
	padding: 0 calc-em($gutter, $font-size-base);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	// &:first-child {
	// 	padding-left: 0;
	// }
	// &:last-child {
	// 	padding-right: 0;
	// }
}
.nav-link {
	// padding: calc-em(15px, $font-size-base) 0;
	font-size: calc-em($font-size-base, $font-size-base);
	cursor: pointer;
	&:hover {
		color: white;
		transition: opacity .15s ease-in-out;
		-moz-transition: opacity .15s ease-in-out;
		-webkit-transition: opacity .15s ease-in-out;
	}
}

// Below two rules are for hover effect
.nav ul:hover > li {
	opacity: 0.3;
}
.nav ul:hover > li:hover {
	opacity: 1;
}

// Fading out menu on scroll
.nav-has-scrollfix {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.page {
	display: flex;
	flex-flow: row;
	justify-content: center;
	min-height: 100%;
	// width: calc-percent(200px, 100%);

	.content {
		width: 100%;
		padding: calc-em(50px, $font-size-base);
	}
}
.page-landing {
	background-image: url('../images/bg.jpg');
	background-size: cover;
	padding-bottom: 7%;
	* {
		margin: auto;
	}
	.btn {
		width: calc-em(200px, $font-size-base);
	}
	// .btn {
	// 	margin-top: calc-em(40px, $font-size-base);
	// }
}
.page-about {
	background-color: $color-about;
	// background-image: url('../images/test.png');

	h1 {
		margin: 0;
	}
	p {
		color: $color-dark;
		max-width: 92%;
		margin-top: calc-em(5px, $font-size-base);
	}
	a {
		text-decoration: underline;
		color: $color-work;
		&:hover {
			color: $color-dark;
		}
	}
	.content {
		display: flex;
		flex-wrap: wrap;
	}
	.one {
		flex: 2 0 0;
		// width: calc-measure($font-size-base, 1440px);
	}
	.two {
		flex: 1 0 0;
	}
}
.page-work {
	background-color: $color-work;
	// background-image: url('../images/test.png');

	.content {
		display: flex;
	   flex-direction: row;
	   justify-content:center; /* default is stretch */
	   align-items: center;
	   // padding-bottom: 4em;
	}
	section {
		display: flex;
		h2 {
			flex: 2;
		}
		img {

			height: 50px;
		}
	}
	ul {
		width: 100%;
	}
	li {
		&:first-child {
			h2 {
				border-top: none;
			}
		}
	}
	h2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-top: 1px dotted #dff3ff;

		&:hover {
			cursor: pointer;
			background-color: darken($color-work, 5%);
		}
		&.visible {
			background-color: darken($color-work, 5%);
		}
	}
	aside {

		> div {
			// border: 1px solid blue;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: flex-start;
			img:last-child {
				// border: 1px solid yellow;
				// align-self: flex-end;
			}
			nav {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
			a {
				// border: 1px solid red;
			}
			p {
				max-width: calc-measure($font-size-base, 1338px);
				margin-bottom: calc-em($gutter + 10, $font-size-base);
			}
			.rn-carousel-container {
				align-self: center;
				 // Need important to override javascript inline styles
				li {
					img {
					}
				}
			}
			.rn-carousel-slide {
				max-width: 1270px;
			}
			.rn-carousel-control {
				color: $color-dark;
				font-size: $font-size-l;
				&.rn-carousel-control-next:before {
					content:"\f054";
					font-family: FontAwesome;
				}
				&.rn-carousel-control-prev:before {
					content:"\f053";
					font-family: FontAwesome;
				}
			}
		}
	}
	.btn {
		display: inline-block;
		margin: 0;
	}
}
.page-services {
	background-color: $color-services;
	background-image: url('../images/lines.png');

	.content {
		display: flex;
	}
	img {
		flex: 2 0 0;
		align-self: flex-start;
		margin: 0 5% 0 0;
	}
	aside {
		flex: 1 0 0;
	}
	h1 {
		font-size: calc-em(57px, $font-size-base);
	}
}
.page-contact {
	background-color: $color-contact;
	// background-image: url('../images/test.png');
	justify-content: space-between;
	flex-flow: column;
	min-height: 93%;

	.content {
		padding-top: calc-em(80px, $font-size-base);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.btn {
		margin-bottom: calc-em($gutter, $font-size-base);

		& + a {

			&:hover {
				opacity: 0.6;
			}
			i {
				padding-right: 10px;
			}
		}
	}
	p {
		max-width: calc-measure($font-size-base, 1338px);
		margin: 0 auto;
	}
}
.icon-logo {
	background-size: 60%;
	background-position: 50%;
	background-color: rgba(14, 21, 25, 0.6);
	padding: calc-em(40px, $font-size-base) 0;
	margin: 0 1% 1% 0;
	// background: url('../images/bg_amtrak.jpg') no-repeat;
	// background-size: contain;
	// opacity: 0.3;
}
.icon-logo.col-sm-3 {
	width: 24%;
}
.icon-logo:nth-child(4n) {
	margin-right: 0;
}
.icon-logo:hover {
	background-color: rgba(14, 21, 25, 0.2);
	cursor: pointer;
}
.icon-logo-blueclawco {
	background-size: 20%;
}

footer {
	padding: calc-em($gutter, $font-size-base) calc-em($gutter, $font-size-base) calc-em($gutter + 10, $font-size-base) calc-em($gutter, $font-size-base);
	background-color: $color-footer;
	display: flex;
	flex-direction: column;
	align-items: center;
	small {
		color: darken($color-white, 70%);
	}
	nav {
		width: calc-em(70px, $font-size-base);
		font-size: calc-em($font-size-m, $font-size-base);
		ul {
			display: flex;
			justify-content: space-between;
		}
	}
}

// Misc - cateogorize