// Navigation
.nav {
	// padding: calc-em(25px, $font-size-base) calc-em(40px, $font-size-base);
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	background-color: transparent;
	position: fixed;
	width: 100%;
	padding: calc-em($gutter, $font-size-base) calc-em(30px, $font-size-base);

	.logo {
		flex: 2 auto;
	}
	ul {
		// flex: 1;
		// justify-content: flex-end;

	}
}
.nav-list {
	// flex: 2;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-item {
	// flex: 1;
	// float: left;
	padding: 0 calc-em($gutter, $font-size-base);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	// &:first-child {
	// 	padding-left: 0;
	// }
	// &:last-child {
	// 	padding-right: 0;
	// }
}
.nav-link {
	// padding: calc-em(15px, $font-size-base) 0;
	font-size: calc-em($font-size-xs, $font-size-base);
	cursor: pointer;
	&:hover {
		color: white;
		transition: opacity .15s ease-in-out;
		-moz-transition: opacity .15s ease-in-out;
		-webkit-transition: opacity .15s ease-in-out;
	}
}

// Below two rules are for hover effect
.nav ul:hover > li {
	opacity: 0.3;
}
.nav ul:hover > li:hover {
	opacity: 1;
}

// Fading out menu on scroll
.nav-has-scrollfix {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.page {
	display: flex;
	flex-flow: row;
	justify-content: center;
	min-height: 100%;
	// width: calc-percent(200px, 100%);

	.content {
		width: 100%;
		padding: calc-em(50px, $font-size-base);
	}
}
.page-landing {
	background-image: url('../images/bg.jpg');
	background-size: cover;
	padding-bottom: 7%;
	* {
		margin: auto;
	}
	// .btn {
	// 	margin-top: calc-em(40px, $font-size-base);
	// }
}
.page-about {
	background-color: $color-about;

	.content {
		display: flex;
		flex-wrap: wrap;
		// flex-flow: row;
	}
	.one {
		flex: 2 auto;
		width: 60%;
	}
	.two {
		// width: 30%;
	}
}
.page-work {
	background-color: $color-work;

	.content {
		display: flex;
	   flex-direction: row;
	   justify-content:center; /* default is stretch */
	   align-items: center;
	   // padding-bottom: 4em;
	}
	section {
		display: flex;
		h2 {
			flex: 2;
		}
		img {

			height: 50px;
		}
	}
	ul {
		width: 100%
	}
	> li {
		width: 100%;
		&:first-child {
			h2 {
				border-top: none;
			}
		}
		// border-bottom: 1px dotted #dff3ff;
	}
	h2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-top: 1px dotted #dff3ff;

		&:hover {
			cursor: pointer;
			background-color: darken($color-work, 5%);
		}
		&.visible {
			background-color: darken($color-work, 5%);
		}
	}
	aside {
		// padding: 2em;
		div {
			// border: 1px solid blue;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-start;
			img:last-child {
				// border: 1px solid yellow;
				// align-self: flex-end;
			}
			a {
				// border: 1px solid red;
			}
			p {
				// border: 1px solid green;
				// flex-direction: column;
			}
			.rn-carousel-container {
				display: flex;
				align-items: center;
				li {
					img {
					}
				}
			}
		}
	}
	.btn {
		display: inline-block;
		margin: 0;
	}
}
.page-services {
	background-color: $color-services;
}
.page-contact {
	h1 {
		// background-color: $color-services;
	}
	background: $color-contact;
	// justify-content: center;

	.content {
		width: 75%;
	}
}
.icon-logo {
	background-size: 60%;
	background-position: 50%;
	background-color: rgba(14, 21, 25, 0.6);
	padding: calc-em(40px, $font-size-base) 0;
	margin: 0 1% 1% 0;
	// background: url('../images/bg_amtrak.jpg') no-repeat;
	// background-size: contain;
	// opacity: 0.3;
}
.icon-logo.col-sm-3 {
	width: 24%;
}
.icon-logo:nth-child(4n) {
	margin-right: 0;
}
.icon-logo:hover {
	background-color: rgba(14, 21, 25, 0.2);
	cursor: pointer;
}
.icon-logo-blueclawco {
	background-size: 20%;
}

footer {
	padding: calc-em(30px, $font-size-base);
	background-color: $color-footer;
	display: flex;
	justify-content: center;

	small {
		color: darken($color-white, 20%);
	}
}

// ul.test li:first-child {
// 	margin-top: 100px;
// }