h1, h2, h3 {
    letter-spacing: 0.1rem;
    font-family: $font-primary;
}
h1 {
    font-size: 3rem;
    margin-top: 0;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.9rem;
}
p, a, li, em, strong, b, i, span {
    letter-spacing: 0.06rem;
    line-height: 2.7rem;
}
a {
    color: $color-light;
}
a:hover {
    text-decoration: none;
}
.page-landing, .page-contact, .page-services, .page-work {
    color: $color-light;
}
.page-landing h2 {
    letter-spacing: 0.3rem;
}
.logo {
    font-size: 2rem;
    &:hover {
        color: $color-light;
    }
}
.logo {
    &:hover {
        color: $color-primary;
    }
}
