h1, h2, h3 {
	letter-spacing: calc-em(1px, $font-size-base);
	margin-bottom: calc-em(10px, $font-size-base);
	font-family: $font-primary;
}
h1 {
	font-size: calc-em($font-size-l, $font-size-base);
	margin: 0 0 ($font-size-l / 4) 0;
}
h2 {
	font-size: calc-em($font-size-m, $font-size-base);
	margin: 0 0 ($font-size-m / 4) 0;
}
h3 {
	font-size: calc-em($font-size-s, $font-size-base);
	margin: 0 0 ($font-size-s / 4) 0;
}
p, a, li, em, strong, b, i, span {
	letter-spacing: calc-em(0.5px, $font-size-base);
	line-height: calc-em($font-size-m, $font-size-base);
}
p {
	font-size: calc-em(17px, $font-size-base);
}
a {
	color: $color-white;
}
a:hover {
	text-decoration: none;
	color: $color-white;
}
.page-landing,
.page-contact,
.page-services,
.page-work {
	color: $color-white;
}
.page-landing {
	h1 {
		letter-spacing: calc-em(0.7px, $font-size-base);
		font-size: calc-em(84px, $font-size-base);
		margin: 0;
	}
	h2 {
		letter-spacing: calc-em(1px, $font-size-base);
		font-size: calc-em(32px, $font-size-base);
		margin: calc-em(7px, $font-size-base) 0 0 0;
		font-weight: 100;
	}
}
.logo {
	font-size: calc-em(18px, $font-size-base);;
	&:hover {
		// color: $color-light;
	}
}

.page-services {
	p {
		// color: $color-2;
	}
	h1 {
		// color: $color-4;
	}
	h2 {
		// color: $color-4;
	}
	ul {
		list-style: none;
		// color: $color-2;
	}
}