// Font sizes
$font-size-base: 16px;
$font-size-xs: 18px;
$font-size-s: 20px;
$font-size-m: 36px;
$font-size-l: 48px;
$font-size-xl: 56px;

// Font stacks
$font-primary: 'Rokkitt', serif;
$font-secondary: 'PT Sans', Helvetica, Sans-serif;

// Colors
$color-white: white;
$color-dark: #0f1830;
$color-primary: #a6ebff;
$color-secondary: #0e1523;
$color-about: #f7faff;
$color-work: #84bbdd;
$color-services: #204566;
$color-contact: #1bbc9b;
$color-footer: #000e18;

// Spacing
$gutter: 25px;