// Font stack
$font-primary: Arvo, Helvetica, Sans-serif;
$font-secondary: 'PT Sans', Helvetica, Sans-serif;

// Colors
$color-light: white;
$color-dark: #454545;
$color-primary: #a6ebff;
$color-secondary: #0e1523;

$color-1: #FFFFFF;
$color-2: #2b324c;
$color-3: #c63838;
$color-4: #0e1523;