html {
	font-size: 62.5%;
	height: 100%;
}
body {
	margin: 0;
	font-size: 1.8rem;
	font-family: 'PT Sans', Helvetica, Sans-serif;
	height: 100%;
	perspective: 1200px;
   transform-style: preserve-3d;
}
@import 'variables';
@import 'resets';
@import 'structure';
@import 'buttons';
@import 'type';
@import 'overrides';

