<section class="page page-about" id="about">
	<div class="content">

		<div class="one">
			<h1>Let's make something amazing.</h1>
      	<p>I have a Bachelor's degree in Graphic Design. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies. A small river named Duden flows by their place and supplies.</p>


		</div>
		<div class="two">
			<img src="images/me.jpg" class="img-responsive center thumb">
		</div>

	</div>
</section>
