<section class="page page-contact container-fluid" id="contact">
   <div class="row">
      <div class="col-sm-10">
         <h1 class="text-center">I'd love to hear from you.</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

         <a href="mailto:arobbins@simpleblend.net" class="btn btn-l btn-wide center">Shoot me an email <i class="fa fa-envelope"></i></a>

      </div>
   </div>
</section>
