<section class="page page-contact" id="contact">
   <div class="content">
		<h1 class="text-center">I'd love to hear from you.</h1>
	   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies.</p>

	   <a href="mailto:arobbins@simpleblend.net" class="btn btn-l btn-wide center">Let's get in touch <i class="fa fa-envelope"></i></a>

	   <a href="http://simpleblend.net/robbins_resume.pdf"  class="text-center"><i class="fa fa-file-pdf-o"></i>Checkout my resume</a>
   </div>
	<footer>
		<nav>
			<ul>
				<li>
					<a href="http://github.com/arobbins"><i class="fa fa-github"></i></a>
				</li>
				<li>
					<a href="http://linkedin.com/in/simpleblend"><i class="fa fa-linkedin"></i></a>
				</li>
				<li>
					<a href="http://soundcloud.com/noclique"><i class="fa fa-soundcloud"></i></a>
				</li>
			</ul>
		</nav>
		<small>&copy; Simpleblend, LLC  - Rockin' since 2014</small>
	</footer>
</section>
