<section class="page page-contact container-fluid" id="contact">
   <div class="row">
      <div class="col-sm-10">
         <h1 class="text-center">Feel free to get in touch!</h1>
		   <button class="btn btn-l center">Learn More</button>
		   <button class="btn btn-s center">Learn more</button>
         <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
      </div>
   </div>
</section>
