<section class="page page-services" id="services">
	<div class="content">
		<section>
			<img src="../images/serv.svg">
			<div>
				<dl>
				  <dt>Technologies I use</dt>
				  <dd>Angular</dd>
				  <dd>Sass</dd>
				  <dd>Git</dd>
				  <dd>Node</dd>
				  <dd>Gulp</dd>
				  <dd>Polymer</dd>
				  <dd>jQuery</dd>
				</dl>
				<dl>
				  <dt>Services I provide</dt>
				  <dd>Responsive design</dd>
				  <dd>Wordpress sites</dd>
				  <dd>Shopify sites</dd>
				  <dd>Code clean-ups</dd>
				  <dd>Static sites</dd>
				  <dd>Design consultation</dd>
				</dl>
			</div>
		</section>
		<aside>
			<h1>Front-end Development done right.</h1>
			<p>Many times the front-end is left to developers who simply aren't passionate about it. Corners are cut, leaving sites with fragile CSS and poor JavaScript performance. This inevitably leads to maintainability issues as the site grows, costing money and headaches. I take special care in making the correct decisions for your project so this doesn't happen. How should we handle responsive images? Should we support browsers or features? What kind of build system should we use? I love what I do and make sure to do it right the first time.</p>
			<p>I hope to work with you soon! <i class="fa fa-smile-o"></i></p>
		</aside>
	</div>
</section>
