<section class="page page-services" id="services">
	<div class="content">
		<h1>Equiped with the latest technology.</h1>
		<!-- <button class="btn btn-l center">Learn More</button>
		<a href="/" class="btn btn-s center">Learn more</a> -->
		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		<ul>
			<li>Design & User Experience Consoltation</li>
			<li>Wordpress</li>
			<li>Shopify</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>Javascript</li>
			<li>jQuery</li>
			<li>Angular JS</li>
			<li>Gulp / Grunt</li>
			<li>Git / SVN</li>
			<li>SASS / LESS</li>
		</ul>
	</div>
</section>
