<section class="page page-services container-fluid" id="services">
	<div class="row">
		<div class="col-sm-12">
			<h1>Services</h1>
			<!-- <button class="btn btn-l center">Learn More</button>
			<a href="/" class="btn btn-s center">Learn more</a> -->
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


			<div class="row">
				<div class="col-sm-4">
					<h2>What I'm good at</h2>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>Javascript</li>
						<li>jQuery</li>
						<li>Angular JS</li>
						<li>Gulp / Grunt</li>
						<li>Git / SVN</li>
						<li>SASS / LESS</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h2>What I'm currently learning</h2>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>Javascript</li>
						<li>jQuery</li>
						<li>Angular JS</li>
						<li>Gulp / Grunt</li>
						<li>Git / SVN</li>
						<li>SASS / LESS</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h2>What I'd like to know more about</h2>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>Javascript</li>
						<li>jQuery</li>
						<li>Angular JS</li>
						<li>Gulp / Grunt</li>
						<li>Git / SVN</li>
						<li>SASS / LESS</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
