<section class="page page-work" id="work">
	<!-- <h1>Work</h1> -->
	<div class="content">
	   <ul>
	   	<li ng-repeat="work in work">
	   		<div>
	   			<h2 ng-click="toggled = !toggled" ng-class="{visible: toggled}">{{ work.client }} <i class="fa" ng-class="{'fa-chevron-down': toggled===true, 'fa-chevron-right': toggled===false,}"></i></h2>
	   			<!-- <img src="images/logo_details.png"> -->
	   			<!-- <a href="#">css</a> -->
	   		</div>
	   		<aside ng-show="toggled" class="fade">
					<p>{{ work.description }}</p>
	   			<a href="http://google.com" class="btn btn-s">See project</a>
	   		</aside>
	   	</li>
	   </ul>
	</div>
</section>
