
.icon-logo-amtrak {
	background-image: url('../imgs/logo_amtrak.png');
	background-repeat: no-repeat;
}


.icon-logo-blueclawco {
	background-image: url('../imgs/logo_blueclawco.png');
	background-repeat: no-repeat;
}


.icon-logo-fraser {
	background-image: url('../imgs/logo_fraser.png');
	background-repeat: no-repeat;
}


.icon-logo-gotham {
	background-image: url('../imgs/logo_gotham.png');
	background-repeat: no-repeat;
}


.icon-logo-knot {
	background-image: url('../imgs/logo_knot.png');
	background-repeat: no-repeat;
}


.icon-logo-octane {
	background-image: url('../imgs/logo_octane.png');
	background-repeat: no-repeat;
}


.icon-logo-rewardsrus {
	background-image: url('../imgs/logo_rewardsrus.png');
	background-repeat: no-repeat;
}


.icon-logo-wyndham {
	background-image: url('../imgs/logo_wyndham.png');
	background-repeat: no-repeat;
}

