<section class="page page-about" id="about">
	<div class="content" itemscope itemtype="http://schema.org/Organization">
		<article itemprop="person">
			<h1>Let's build something amazing.</h1>
      	<p itemprop="text">It's nice to meet you! My name's Andrew Robbins and I'm an independent Web Developer who enjoys helping agencies and companies build beautiful web experiences. I have a Bachelor's degree in Graphic Design and 5+ years of working with the web including many hours spent <a href="http://frontendmasters.com">here</a> and <a href="http://www.codeschool.com">here</a>. I currently live in Minneapolis, MN and work out of the <a href="http://cocomsp.com">CoCo</a> in Uptown.</p>
      	<p>I consider myself an expert problem solver that blends complexity with simple and elegant solutions. I specialize in <i class="highlight">JavaScript</i> <i class="highlight">CSS</i> <i class="highlight">HTML</i> and <i class="highlight">Wordpress</i>. I love building responsive sites and working with JavaScript frameworks like Angular JS. Making the web beautiful is what I do best&mdash;let's build something amazing.</p>
		</article>
		<figure itemprop="brand">
			<img src="images/me.jpg" class="img-responsive center thumb" alt="Andrew Robbins - Minneapolis based Web Developer" itemprop="logo">
		</figure>
	</div>
</section>
